<div class="wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center" *ngIf="isRegisterForm">
                <h3 class="mb-4 text-muted">Create new account</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                    <div class="mb-3 text-start">
                        <label for="name" class="form-label">Username</label>
                        <input id="username" formControlName="username" type="text" class="form-control" placeholder="Enter your username" 
                        [ngClass]="{'is-invalid': registerForm.get('username').invalid && registerForm.get('username').touched}">
                        <div class="invalid-feedback">Username is required.</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email address</label>
                        <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter your email"
                        [ngClass]="{'is-invalid': registerForm.get('email').invalid && registerForm.get('email').touched}">
                        <div class="invalid-feedback">Valid email is required.</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="tel" class="form-label">Phone Number</label>
                        <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" placeholder="Enter your phone number"
                        [ngClass]="{'is-invalid': registerForm.get('phoneNumber').invalid && registerForm.get('phoneNumber').touched}">
                        <div class="invalid-feedback">Valid phone number is required.</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="Enter your password" 
                        [ngClass]="{'is-invalid': registerForm.get('password').invalid && registerForm.get('password').touched}">
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4" style="width:100%" [disabled]="isLoading">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                        Register
                    </button>
                </form>
                <p class="mb-0 text-muted">Allready have an account? <a routerLink="/login">Log in</a></p>
            </div>

            <div class="card-body text-center" *ngIf="isVerifyOtpForm">
                <h3 class="mb-4 text-muted">Verify OTP</h3>
                <p class="mb-0 text-muted">{{registeredEmail}} <a routerLink="/register">Register again</a></p>
                <form [formGroup]="verifyOtpForm" (ngSubmit)="onOtpSubmit()" >
                    <div class="mb-3 text-start">
                        <label for="name" class="form-label">OTP</label>
                        <input id="otp" formControlName="otp" type="text" class="form-control" placeholder="Enter your OTP"
                        [ngClass]="{'is-invalid': verifyOtpForm.get('otp').invalid && verifyOtpForm.get('otp').touched}">
                        <div class="invalid-feedback">OTP is required.</div>
                    </div>
                      
                    <button type="submit" class="btn btn-primary mb-4" [disabled]="isLoading" style="width:100%">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                        Verify OTP
                    </button>
                </form>
                <button type="button" class="btn mb-0 text-muted" (click)="resendOtp()" [disabled]="resendDisabled">
                    <p class="mb-0 text-muted">If otp not came resend it? <a>Resend OTP</a></p> <span *ngIf="resendDisabled">({{ countdown }}s)</span>
                </button>
            </div>
    </div>
</div>