<div class="wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="mb-4 text-muted">Login to your account</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 text-start">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" formControlName="username" type="text" class="form-control" placeholder="Enter your username"
                        [ngClass]="{'is-invalid': loginForm.get('username').invalid && loginForm.get('username').touched}">
                        <div class="invalid-feedback">Username is required.</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="Enter your password"
                        [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched}">
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4" style="width:100%">Login</button>
                </form>
                <p class="mb-2 text-muted">Forgot password? <a routerLink="/forgot">Reset</a></p>
                <p class="mb-0 text-muted">Don't have account yet? <a routerLink="/register">Signup</a></p>
            </div>
        </div>
    </div>
</div>