<div class="wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center" *ngIf="isForgotPasswordForm">
                <h3 class="mb-4 text-muted">Reset Password</h3>
                <p class="text-muted text-start">Enter your email address and your new password will be emailed to you.</p>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email address</label>
                        <input id="email" formControlName="email" type="email" class="form-control"  placeholder="Enter your email" 
                        [ngClass]="{'is-invalid': forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched}">
                        <div class="invalid-feedback">Valid email is required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4" style="width:100%" [disabled]="isLoading">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                        Send OTP
                    </button>
                </form>
                <p class="mb-0 text-muted">Don’t have an account? <a routerLink="/register">Sign up</a></p>
            </div>

            <div class="card-body text-center" *ngIf="isChangePasswordForm">
                <h3 class="mb-4 text-muted">Change Password</h3>
                <p class="mb-0 text-muted">{{registeredEmail}} <a routerLink="/forgot">Edit</a></p>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onOtpSubmit()">
                    <div class="mb-3 text-start">
                        <label for="otp" class="form-label">OTP</label>
                        <input id="otp" formControlName="otp" type="text" class="form-control"
                        [ngClass]="{'is-invalid': changePasswordForm.get('otp').invalid && changePasswordForm.get('otp').touched}">
                        <div class="invalid-feedback">OTP is required.</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input id="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="Enter your new password" 
                        [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').invalid && changePasswordForm.get('newPassword').touched}">
                        <div class="invalid-feedback">New Password is required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4" style="width:100%" [disabled]="isLoading">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                        Change Password
                    </button>
                </form>
                <button type="button" class="btn mb-0 text-muted" (click)="resendOtp()" [disabled]="resendDisabled">
                    <p class="mb-0 text-muted">If otp not came resend it? <a>Resend OTP</a></p> <span *ngIf="resendDisabled">({{ countdown }}s)</span>
                </button>
            </div>
        </div>
    </div>
</div>